<?xml version="1.0" encoding="utf-8" ?>
<AllConfigurations>
    <CompressionLevel>1</CompressionLevel>
     <IsCompressEnable>true</IsCompressEnable>
    <IsEncryptEnable>true</IsEncryptEnable>
    <Key>AQIDBAUGBwgJEBESExQVFg==</Key>
    <LogFile>D:\\services\\LogFile.txt</LogFile>
    <SourceDirectory>C:\ServerData\archive\</SourceDirectory>
    <TargetDirectory>C:\ServerData\archive\</TargetDirectory>
    <IsLoggerEnable>true</IsLoggerEnable>
</AllConfigurations>
